.album-container {
	display: flex;
	color: black;
}

.album-songs {
	width: 50%;
	display: inline-block;
}
span {
	cursor: pointer;
}

.lyrics {
	margin-top: 30px;
	width: 25%;
	display: inline-block;
	margin-left: 15px;
}
